html {
  font-family: "Roboto", sans-serif;
}
.user-list {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}
.list {
  margin: 20px;
}
.header {
  padding: 10px;
  background-color: #22eb22;
}
.unordered {
  background-color: beige;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}

li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
